<div class="container mt-5 mb-3 p-0">
    <div *ngIf="localStorageService.emptyKeys()">
        <ngb-alert type="warning" [dismissible]="false"><b>Sorry!</b> No records found.</ngb-alert>
    </div>
    <div *ngIf="!(localStorageService.emptyKeys())">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col-1">#</th>
                    <th scope="col-4">City</th>
                    <th scope="col-6">State</th>
                    <th scope="col-1"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let favItem of favData; index as i">
                    <th scope="row col-1">{{ i + 1 }}</th>
                    <td class="col-3 text-primary"><a (click)="func(favItem.lat,favItem.lng,favItem.city,favItem.state,favItem.street)"><u>
                                {{favItem.city}}</u></a>
                    </td>
                    <td class="col-5 text-primary"><a (click)="func(favItem.lat,favItem.lng,favItem.city,favItem.state,favItem.street)"><u>{{favItem.state}}</u></a>
                    </td>
                    <td><a (click)="delete(favItem.lat+','+favItem.lng)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                      </svg></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>